modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3003

[[ports]]
localPort = 19328
externalPort = 3000

[[ports]]
localPort = 19330
externalPort = 4200

[[ports]]
localPort = 19996
externalPort = 8000

[[ports]]
localPort = 19997
externalPort = 6000

[[ports]]
localPort = 19998
externalPort = 5173

[[ports]]
localPort = 19999
externalPort = 5000

[[ports]]
localPort = 22060
externalPort = 6800

[[ports]]
localPort = 23597
externalPort = 3002

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_CLERK_USER_ID = "user_3DKxHCL2f47wjo7XFVskCVpwl6g"
ADMIN_EMAIL = "bchysfmel@gmail.com"
STRIPE_SECRET_KEY = "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"
STRIPE_PUBLISHABLE_KEY = "pk_live_51QtrTCCaDBaDETvnPWoWgQlt57lY03Yib0B87N1cYw3YenQwGAxcbdw14UahaUYwUGjdXLoKTmmMjodMq74qp7vm00pc6PsYzC"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_live_51QtrTCCaDBaDETvnPWoWgQlt57lY03Yib0B87N1cYw3YenQwGAxcbdw14UahaUYwUGjdXLoKTmmMjodMq74qp7vm00pc6PsYzC"
STRIPE_WEBHOOK_SECRET = "whsec_K92F51rdvxJa397ujZqlhtgZelpTQpIb"
