modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 19328
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_CLERK_USER_ID = "user_3DKxHCL2f47wjo7XFVskCVpwl6g"
ADMIN_EMAIL = "bchysfmel@gmail.com"
STRIPE_SECRET_KEY = "sk_test_51TTwBIEKcNcM20o5hAAEvt46QJ7Wanxw4zNob8MKYqUMJ2kAAPeEV5WYZybEQYD2c223icOVeqQU7wRUlCEuwKJf00yZWpUk4W"
STRIPE_PUBLISHABLE_KEY = "pk_test_51TTwBIEKcNcM20o5elCgJe7GMb0sxuX4bGEPhtjZ3kcm2Wu4N4tkyq6YjiuvZwIYqejjgL0LrTC8elBTns38O92C002asEgVvw"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_test_51TTwBIEKcNcM20o5elCgJe7GMb0sxuX4bGEPhtjZ3kcm2Wu4N4tkyq6YjiuvZwIYqejjgL0LrTC8elBTns38O92C002asEgVvw"
